<?xml version="1.0" encoding="utf-8"?>
<!-- IIS web.config for SPA routing -->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/amplify/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>



